<?xml version='1.0' encoding='utf-8'?>
<widget id="com.bootcamp.wineapp" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>WineApp</name>
    <description>
        Wine Manager Application
    </description>
    <author email="jangelroa@gmail.com" href="http://cordova.io">
        Angel Roa
    </author>
    <content src="index.html" />
    <access origin="*" /> <!-- important the star(*) -->
</widget>
